/*INITIAL STYLING*/
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* colors*/
:root {
    --gold: #F5C518;
    --black: #000000;
    --white: #FFFFFF;
    --offblack: #161819;
    --grey: #38393A;
    --lightgrey: #838485;
    --red: #CC0000;
}

/* icons */
@font-face {
    font-family: 'imdb';
    src: url('fonts/imdb.eot');
    src: url('fonts/imdb.eot?#iefix') format('embedded-opentype'),
         url('fonts/imd.woff') format('woff'),
         url('fonts/imdb.ttf') format('truetype'),
         url('fonts/imdb.svg#imdb') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'imdb';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-transform: uppercase;
}
.icon-play:before{content:'\0041';}
.icon-trailer:before{content:'\0042';}
.icon-parent:before{content:'\0043';}
.icon-export:before{content:'\0044';}
.icon-user:before{content:'\0045';}
.icon-search:before{content:'\0046';}
.icon-clock:before{content:'\0047';}
.icon-eye:before{content:'\0048';}
.icon-heart:before{content:'\0049';}
.icon-settings:before{content:'\004a';}
.icon-right:before{content:'\004b';}
.icon-left:before{content:'\004c';}
.icon-home:before{content:'\004d';}
.icon-star:before{content:'\004e';}
.icon-list:before{content:'\004f';}

/* main sections */

body {
    width: 100%;
    height: 100%;
    background-color: var(--offblack);
    color: white;
}

header {
    background-color: var(--black);
    width: 100%;
    height: 6.25rem; /*100px*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    z-index: 2;
}
footer {
    background-color: var(--black);
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 3.125rem; /* 50px */
    width: 100%;
    /* align-self: flex-end; */
    align-items: center;
    margin: 0;
    z-index: 2;
}
.content {
    margin-top: 6.25rem;
    margin-bottom: 3.125rem;
    width: 100%;
    height: 84%;
}

/* fonts and headings */

a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}

h1 {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .9375rem /* 15px */
}
.active {
    color: var(--gold);
    border-top: 3px solid var(--gold);
}
h2 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .8125rem /* 13px */
}
h3 {
    font-family: noto-sans,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .75rem; /* 12px */
    color: var(--gold);
}
h4 {
    font-family: noto-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75rem; /* 12px */
    color: var(--white);
}
p {
    font-family: noto-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .8125rem /* 13px */
}
button {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .875rem; /* 14px */
    color: white;
    border: none;
    padding: .25rem .75rem;
}
.grey {
    background-color: var(--grey);
}

.lightgrey {
    background-color: var(--lightgrey);
}

.white {
    background-color: var(--white);
    color: var(--black);
}
.gold {
    background-color: var(--gold);
    color: var(--black);
}

/* footer nav */

.home, .search, .profile {
    display: flex;
    height: 60%;
    align-items: center;
    justify-content: center;
}

.search, .profile {
    border-left: 3px solid var(--grey);
}

footer i {
    color: var(--white);
    font-size: 1.5rem;
}

#active {
    color: var(--gold);
}

/* HEADERS  */
/* home */
.logo img {
    margin-top: 1rem;
}
.slide-menu h1 {
    display: inline-block;
    padding: .25rem 1rem;
    text-align: center;
}

.slide-menu .active {
    padding: 0;
    margin: .25rem .8rem;
}

.slide-menu {
    padding: .5rem 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
}

/* profile*/
.profile-header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    align-items: center;
    padding: 0 .5rem;
}
.profile-header img {
    width: 32px;
    height: auto;
    justify-self: center;
}
.profile-header i {
    justify-self: center;
    font-size: 1.5rem;
}

/* info */
.info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}
#back {
    cursor: pointer;
}
.info-header i {
    font-size: 1rem;
}

/* CONTENT */
/* home */
.home-section, .landscape-scroll, .card-scroll {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 1rem 0 1rem 1rem;
}
.home-section {
    padding-top: 0;
}
.images img {
    width: 80px;
    margin: 0 .2rem;
}
.images div {
    display: inline-block;
}
.images div div {
    position: sticky;
    z-index: 1;
}
.title {
    padding-bottom: .5rem;
}
.images, .profile-images{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
}
.landscape-scroll img {
    width: 115px;
    filter: brightness(50%);
    margin: .05rem;
}
.landscape-scroll i {
    font-size: 1.5rem;
    margin-left: 3rem;
    margin-top: -3rem;
    position: absolute;
}

/* profile */
.profile-images img {
    filter: brightness(100%);
    margin: 0 .2rem;
}
.profile-pg .landscape-scroll, .card-scroll {
    padding-bottom: 0;
}
.cards {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
}
.cards i {
    font-size: .75rem;
    margin: 0;
    position: initial;
    padding: .2rem;
}
.review {
    background-color: var(--grey);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    width: 15rem;
    display: inline-block;
    margin-right: .4rem;
}
.title-block, .read-more, .date, .rating {
    display: flex;
}
.title-block h2, .celebs h2 {
    font-weight: 700;
}
.title-block {
    justify-content: space-between;
    padding: .5rem;
}
.rating i {
    color: var(--gold);
}
.date p, .date h3{
    font-style: italic;
    font-size: .75rem;
}
.date h3 {
    padding-right: .5rem
}
.date {
    padding: 0 .5rem .5rem;
}
.write-up p {
    padding: 0 .5rem;
    white-space: normal;
}
.read-more {
    justify-content: flex-end;
    color: var(--gold);
}
.read-more p {
    font-size: .75rem;
    font-weight: 700;
}
.celebs {
    background-color: var(--grey);
    width: 8rem;
    margin-bottom: 1rem;
    margin-right: .4rem;
    display: inline-block;
    text-align: center;
}
.celebs img {
    width: 70px;
    padding: .5rem .2rem;
}
.celebs p {
    font-size: .7rem;
    padding: .25rem 0 .5rem;
}
/* info */
.info-hero {
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.664), rgba(255, 255, 255, 0)), url("graphics/minions_hero.png");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: .75fr 1fr 2fr;
    grid-template-rows: auto;
    align-items: flex-end;
}

.info-hero img {
    width: 4rem;
    align-self: center;
    margin: 0 0 0 .3rem;
}

.info-hero div{
    margin: 0 0 .5rem .5rem;
}

.info-hero h1 {
    font-size: 1.5rem;
}
.genre {
    align-self: flex-end;
    padding-right: .5rem;
}
.genre p {
    font-size: .5rem;
    font-weight: 700;
}

.movie-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .5rem 1rem 0;
}
.movie-details i {
    font-size: 1rem;
    padding-right: .2rem;
}
.movie-details div {
    display: flex;
}
.movie-details .icon-star {
    color: var(--gold)
}
h2 button{
    padding: 0 .1rem;
    font-size: .675rem;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-content: center;
    padding: 1rem .25rem 1rem 1rem;
}

.buttons button {
    font-size: .75rem; /*12px*/
    font-weight: 400;
    margin: .5rem .75rem 0 0;
}

.storyline {
    padding: 1rem 1rem;
}
.storyline h4 {
    font-size: .625rem; /*10px*/
    padding: .1 0 0 0;
}
.buttons3 button {
    font-size: .75rem; /*12px*/
    font-weight: 400;
    width: 50%;
    margin: 0 .25rem;
}

.buttons3 {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem .25rem;
}
.directors p {
    font-size: .75rem;
}
.directors div {
    display: flex;
}
.directors h3 {
    color: white;
    font-size: .8rem;
    padding-right: .25rem;
}
.directors {
    padding: 1rem 1rem;
}
#info-slide {
    padding: 1rem 0;
}
.landscape {
    display: none;
}
@media (orientation: landscape) {
    .landscape {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fa {
        font-size: 5rem;
        padding-bottom: 1rem;
    }
    .content, header, footer {
        display: none;
    }
}