/*INITIAL STYLING*/
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* colors*/
:root {
    --gold: #F5C518;
    --black: #000000;
    --white: #FFFFFF;
    --offblack: #161819;
    --grey: #38393A;
    --lightgrey: #838485;
    --red: #CC0000;
}

/* icons */
@font-face {
    font-family: 'imdb';
    src: url('fonts/imdb.eot');
    src: url('fonts/imdb.eot?#iefix') format('embedded-opentype'),
         url('fonts/imd.woff') format('woff'),
         url('fonts/imdb.ttf') format('truetype'),
         url('fonts/imdb.svg#imdb') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'imdb';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-transform: uppercase;
}
.icon-play:before{content:'\0041';}
.icon-trailer:before{content:'\0042';}
.icon-parent:before{content:'\0043';}
.icon-export:before{content:'\0044';}
.icon-user:before{content:'\0045';}
.icon-search:before{content:'\0046';}
.icon-clock:before{content:'\0047';}
.icon-eye:before{content:'\0048';}
.icon-heart:before{content:'\0049';}
.icon-settings:before{content:'\004a';}
.icon-right:before{content:'\004b';}
.icon-left:before{content:'\004c';}
.icon-home:before{content:'\004d';}
.icon-star:before{content:'\004e';}
.icon-list:before{content:'\004f';}

/* main sections */

body {
    width: 100vw;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto; */
    height: 100vh;
    background-color: var(--offblack);
    color: white;
}

header {
    background-color: var(--black);
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-self: flex-start;
}

footer {
    background-color: var(--black);
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 8%;
    width: 100%;
    /* align-self: flex-end; */
    align-items: center;
    margin: 0;
}
.content {
    width: 100vw;
    height: 84%;
    display: flex;
    flex-direction: column;
    /* align-content: space-between; */
    justify-content: space-evenly;
}

/* fonts and headings */

a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}

h1 {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .9375rem /* 15px */
}
.active {
    color: var(--gold);
    border-top: 3px solid var(--gold);
}
h2 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .8125rem /* 13px */
}
h3 {
    font-family: noto-sans,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .75rem; /* 12px */
    color: var(--gold);
}
h4 {
    font-family: noto-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75rem; /* 12px */
    color: var(--white);
}
p {
    font-family: noto-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .8125rem /* 13px */
}
button {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .875rem; /* 14px */
    color: white;
    border: none;
    border-radius: .25rem;
    padding: .25rem .75rem;
}
.grey {
    background-color: var(--grey);
}

.lightgrey {
    background-color: var(--lightgrey);
}

.white {
    background-color: var(--white);
    color: var(--black);
}
.gold {
    background-color: var(--gold);
    color: var(--black);
}

/* footer nav */

.home, .search, .profile {
    display: flex;
    height: 60%;
    align-items: center;
    justify-content: center;
}

.search, .profile {
    border-left: 3px solid var(--grey);
}

footer .fa {
    color: var(--white);
    font-size: 1.5rem;
}

#active {
    color: var(--gold);
}

/* HEADERS  */
/* home */
.slide-menu h1 {
    display: inline-block;
    padding: .25rem 1rem;
    text-align: center;
}

.slide-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.slide-menu .active {
    padding: 0;
    margin: .25rem .8rem;
}

/* profile*/
.profile-header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr .7fr;
    grid-template-rows: 1fr;
    width: 100%;
    align-items: center;
    padding: 0 .5rem;
}
.profile-header img {
    width: 32px;
    height: auto;
    justify-self: center;
}
.profile-header .fa {
    font-size: 1.3rem;
}
#pencil {
    justify-self: flex-end;
    padding: 0 .5rem 0 0;
}

/* info */
.info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}

/* CONTENT */
/* home */
.home-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-buttons button {
    margin: .25rem .25rem;
}
.home-ad img{
    padding: 1rem 0 0;
    height: 5.5rem;
    width: auto;
    z-index: 1;
}
.home-ad {
    display: flex;
    justify-content: center;
}
.home-ad i {
    z-index: 2;
    position: absolute;
    right: 1.25rem;
    top: 6.2rem;
}
.home-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.5fr;
    width: 100%;
    height: auto;
    padding: 0 0 .7rem;
}
.title {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    padding: 1rem;
    height: 2.75rem;
}
.images img {
    width: 55%;
    border-radius: .25rem;
}
.title h3 {
    justify-self: flex-end;
}
.images div {
    display: inline-block;
    text-align: center;
}
.images {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

/* profile */
.privacy {
    display: flex;
    justify-content: space-evenly;
    margin: .5rem 0 1rem;
}
.privacy h3 {
    font-size: .6875rem; /*11px*/
}
.profile-movie {
    padding: 0 1rem 1rem;
}

.profile-movie img {
    padding: 0 .75rem .5rem;
}

/* info */
#back {
    cursor: pointer;
}
.info-hero {
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.664), rgba(255, 255, 255, 0)), url("graphics/minions_hero.png");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    align-items: flex-end;
}

.info-hero img {
    width: 4.8rem;
    align-self: center;
    margin: 0 0 0 .3rem;
}

.info-hero div{
    margin: 0 0 .5rem .5rem;
}

.info-hero h1 {
    font-size: 1.5rem;
}

.movie-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .5rem 1rem 0;
}
h2 button{
    padding: 0 .1rem;
    font-size: .675rem;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-content: center;
    padding: 0 .25rem 0 1rem;
}

.buttons button {
    font-size: .75rem; /*12px*/
    font-weight: 400;
    margin: .5rem .75rem 0 0;
}

.storyline {
    padding: .5rem 1rem 0;
}
.storyline h4 {
    font-size: .625rem; /*10px*/
    padding: .5rem 0 0 0;
}
.buttons2 {
    display: flex;
    justify-content: space-evenly;
    padding: .5rem 0 0;
}
.buttons2 button{
    font-size: .5rem; /*10px*/
    padding: .25rem .5rem;
}

.buttons3 button {
    font-size: .75rem; /*12px*/
    font-weight: 400;
    width: 50%;
    margin: 0 .25rem;
}

.buttons3 {
    display: flex;
    justify-content: space-evenly;
    padding: .5rem .25rem .5rem;
}

/* MEDIA QUERIES */
@media screen and (min-width: 375px) {
    .images img {
        width: 65%;
    }
    .home-ad img {
        padding: 0;
        margin: .5rem 0 0;
    }
}

@media screen and (min-width: 414px) {
    .home-ad i {
        right: 2.3rem;
        top: 7rem;
    }
}

@media screen and (min-height: 800px) { 
    .home-ad i {
        right: 1rem;
        top: 9.8rem;
    }
}