/*INITIAL STYLING*/
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* colors*/
:root {
    --h1: #F6C700;
    --h2: #222222;
    --dark: #212121;
    --accent1: #EAAF10;
}
/* elements*/
body {
    width: 100%;
    background-color: white;
}
h1 {
    font-family: futura-pt, sans-serif;
    font-weight: 800; /* extra bold */
    font-style: normal;
    color: white;
    font-size: 1.5rem;
}
.yellow{
    color: var(--dark);
}
h2 {
    font-family: futura-pt, sans-serif;
    font-weight: 500; /* heavy */
    font-style: normal;
    color: white;
    text-transform: uppercase;
    font-size: .9rem;
}
h2 b {
    font-family: futura-pt, sans-serif;
    font-weight: 700; /* heavy */
    font-style: normal;
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
}
h3 a {
    font-family: futura-pt, sans-serif;
    font-weight: 800; /* exra bold */
    font-style: normal;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
}

.main a {
    font-size: 1.5rem;
    color: var(--h1);
}


.main a:visited {
    font-size: 1.5rem;
    color: var(--accent1);
}

.secondary a {
    color: var(--h2);
}
.secondary a:visited {
    color: var(--h2);
}
b {
    font-family: futura-pt, sans-serif;
    font-weight: 500; /* medium */
    font-style: normal;
    color: var(--dark);
    font-size: .8rem;
    text-transform: uppercase;
}
strong {
    font-family: futura-pt, sans-serif;
    font-weight: 500; /* medium */
    font-style: normal;
    color: var(--h2);
    text-transform: uppercase;
    font-size: .9rem;
}
p {
    font-family: futura-pt, sans-serif;
    font-weight: 400; /*book*/
    font-style: normal;
    color: var(--dark);
    text-align: left;
    font-size: .8rem;
}
a {
    font-family: futura-pt, sans-serif;
    font-weight: 500; /* heavy */
    font-style: normal;
    color: var(--dark);
    text-transform: uppercase;
    font-size: .9rem;
}
a:visited {
    font-family: futura-pt, sans-serif;
    font-weight: 500; /* heavy */
    font-style: normal;
    color: var(--h2);
    text-transform: uppercase;
    font-size: .9rem;
}
.person-wrapper a {
    font-family: futura-pt, sans-serif;
    font-weight: 500; /*book*/
    font-style: normal;
    color: var(--accent1);
    text-align: left;
    font-size: .8rem;
    text-transform: unset;
}
.person-wrapper a {
    font-family: futura-pt, sans-serif;
    font-weight: 500; /*book*/
    font-style: normal;
    color: var(--h1);
    text-align: left;
    font-size: .8rem;
    text-transform: unset;
}
/* images */
img {
    max-width:100%;
    height:auto;
}
/* header */
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-height: 300px;
    padding: 1rem 1rem 2rem;
}
.header h3 {
    justify-self: flex-end;
    margin: 0;
}
.header img {
    padding: 0 1rem 0 0;
}

/* links */
.titles {
    justify-self: flex-end;
    margin: 0;
    text-align: right;
}

/* team wrapper */
.person-wrapper {
    display: grid;
    padding: 2rem 0;
}
.darkred {
    background: var(--h1);
}
.darkred h1, .darkred h2{
    justify-self: flex-start;
    padding: 1rem 3rem 1rem 1rem;
}
.darkred p {
    padding: 1rem 0 1rem 1rem;
    justify-self: flex-start;
    background-color: white;
    text-align: left;
    width: 100%
}
.darkred img {
    justify-self: flex-end;
}

.lightred {
    background: var(--h2);
}
.lightred h1, .lightred h2 {
    justify-self: flex-start;
}
.lightred div {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    text-align: left;
    width: 100%
}
div p {
    padding: 1rem 1rem 1rem 0;
}
.lightred img {
    justify-self: flex-start;

}

/* footer */
.footer {
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0;
}

/* media queries */
@media screen and (min-width: 400px) {
    .lightred h1, .lightred h2 {
        padding: 1rem 0 1rem 4rem;
    }
    .header img {
        max-width: 175px;
    }
    h3 {
        font-size: 1rem;
    }
    p {
        font-size: .8rem;
    }
    strong {
        font-size: .9rem;
    }
}
@media screen and (min-width: 450px) {
    h1, h2 {
        margin: 0 0 0 2rem;
    }
}
@media screen and (min-width: 550px) {
    .lightred h1, .darkred h1 {
        grid-area: h1;
        margin: 0;
    }
    .lightred h2, .darkred h2 {
        grid-area: h2;
        margin: 0;
        font-size: .9rem;
    }
    b, strong {
        color: white;
    }
    .lightred img, .darkred img {
        grid-area: img;
        width: 100%;
    }
    .darkred {
        grid-template-columns: 1fr 1.5fr;
        grid-auto-rows: auto;
        grid-template-areas:
        "h1 img"
        "h2 img"
        "p img";
    }
    .lightred {
        grid-template-columns: 1.5fr 1fr;
        grid-auto-rows: auto;
        grid-template-areas:
        "img h1"
        "img h2"
        "img p";
    }
    .lightred h1, .lightred h2 {
        padding: 1rem 1rem 1rem 2rem;
    }
    .lightred img {
        background: linear-gradient(to left, var(--h2) 50%, white 50%);
    }
    .darkred img {
        background: linear-gradient(to left, white 50%, var(--h1) 50%);
    }
    .person-wrapper {
        padding: 2rem 0;
    }
    .person-wrapper a, .person-wrapper a:visited {
        color: white;
    }
}

@media screen and (min-width: 750px) {
    h1 {
        font-size: 2rem;
    }
    .lightred h1, .lightred h2 {
        padding: 1rem 1rem 1rem 2rem;
    }
}

@media screen and (min-width: 850px) {
    .lightred, .darkred {
        max-width: 850px;
        width: 850px;
    }
    .lightred {
        justify-self: right;
    }
    .darkred {
        justify-self: left;
    }
}
